<div data-controller="select-photo">
  <div class="bg-black text-white h-screen w-full relative">
    <div class="h-full w-full relative flex items-center justify-center">
      <div class="grid grid-cols-12 w-full h-full">
        <div class="col-span-8 bg-neutral-900 flex items-center justify-center">
          <div class="m-auto">
            <input type="hidden" value="<%= @event.photobooth.overlay_layout %>" data-select-photo-target="canvasDataField" />
            <%#= @event.photobooth.overlay :overlay, data: { select_photo_target: 'overlayInput' } %>
            <%= image_tag(@event.photobooth.overlay_url + "?v=#{@event.updated_at.to_i}", alt: "Overlay Image", data: { select_photo_target: 'overlayImg' }, style:"display: none" ) if @event.photobooth.overlay.present? %>
            <%= image_tag("/", alt: "Overlay Image", data: { select_photo_target: 'overlayImg' }, style:"display: none" ) if !@event.photobooth.overlay.present? %>
            <div class="relative h-full w-full" data-select-photo-target="container">
              <canvas id="overlayCanvas" data-select-photo-target="overlayCanvas" class="border border-black w-full h-full"></canvas>
            </div>
          </div>
          <div class="absolute flex gap-10 font-bold text-2xl bottom-0 text-black">
            <%= link_to event_photobooth_liveview_path, id: "previous-button" do %>
              <div class=" bg-white border-t-2 border-x-2 border-black/50 px-10 py-3 rounded-t-xl">
                <- Previous
              </div>
            <% end %>
            <%= link_to "#", id: "previous-button", onclick: "location.reload();" do %>
              <div class="bg-red-600 border-t-2 border-x-2 border-black/50 text-white px-10 py-3 rounded-t-xl">
                ⟳ Reset
              </div>
            <% end %>
            <button data-action="click->select-photo#finish">
              <div id="finish-button" class="bg-green-800 border-t-2 border-x-2 border-white text-white shadow-xl shadow-green-500 px-10 py-3 rounded-t-xl">
                Finish ✓
              </div>
            </button>
          </div>
      
        </div>
        <div class="h-full col-span-4 border-l bg-black border-neutral-700 overflow-y-auto">
          <% @session.raw.order(:created_at).each_with_index do |raw, index| %>
            <div class="px-16 py-6">
              <button data-action="click->select-photo#selectPhoto">
                <%= tag.img src: raw.filename, id: "select-photo-#{raw.id}", alt: 'Camera Preview', class: 'w-full rounded-xl object-contain', data: { select_photo_target: 'photo', index: index } %>
              </button>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <%= form_with url: "finish", data: { select_photo_target: 'exportForm' }, class: "hidden" do |form| %>
    <%= form.file_field :export, data: { select_photo_target: 'exportField' } %>
  <% end %>

  <input value="<%= @qrurl %>" type="hidden" name="parent_id" id="parent_id" data-select-photo-target="qrurl">
  <%#= @qrurl %>
</div>
