<p style="color: green"><%= notice %></p>

<div id="events" class="w-full">

  <div class="grid grid-cols-2">
    <div class="">
      <div class="text-4xl"><b><%= @event.name %></b></div>
    </div>
    <div class="flex justify-end text-right gap-2">
      <% if @event.booth_type == "ai_photobooth" %>
        <%= render(LinktoComponent.new(path: event_ai_photobooth_ai_themes_path(@event, @event.ai_photobooth))) do %> AI Themes <% end %>
        <%= render(LinktoComponent.new(path: event_ai_photobooth_gallery_path(@event, @event.ai_photobooth))) do %> Gallery <% end %>
        <%= render(LinktoComponent.new(path: event_ai_photobooth_liveview_path(@event, @event.ai_photobooth))) do %> Live View <% end %>
      <% end %>

      <% if @event.booth_type == "photobooth" %>
        <%= render(LinktoComponent.new(path: event_ai_photobooth_liveview_path(@event, @event.photobooth))) do %> Live View <% end %>
        <%= render(LinktoComponent.new(path: event_photobooth_liveview_operator_path(@event, @event.photobooth))) do %> Operator <% end %>
      <% end %>
      
      <%= render(LinktoComponent.new(path: edit_event_path(@event))) do %> Edit <% end %>
    </div>
  </div>

  <div class="w-full text-neutral-500 italic">
    <%= link_to "Events", events_path%> / <%= @event.name %>
  </div>

  <div class="py-5 my-5">
    <table id="all_sessions" class="w-full">
      <thead>
        <tr>
          <th class="bg-black/80 border-r border-neutral-400 text-white w-24 text-left p-2 rounded-tl-xl text-sm">ID</th>
          <th class="bg-black/80 border-r border-neutral-400 text-white text-left p-2 text-sm">DATE</th>
          <th class="bg-black/80 border-r  border-neutral-400 text-white text-left p-2 text-sm">STATUS</th>
          <th class="bg-black/80 text-white py-2 px-5 rounded-tr-xl text-sm text-right">ACTION</th>
        </tr>
      </thead>
      <tbody>
      <%= turbo_stream_from :sessions_list %>
      <% @sessions.each do |session| %>
        <%= render partial:"sessions/session", locals: { session: session } %>
      <% end %>
      </tbody>
    </table>
  </div>

  </div>

</div>

