<% if export.session.event.booth_type == "videobooth" %>
  <button class="relative" id=<%= dom_id(export) %> data-action="click->gallery#showQR" data-export-url="<%= SqidsService.new([ export.session.id ]).call %>" data-export-link="<%= export.filename.url(:thumb) %>">
    <% if export.filename.present? %>
      <%= video_tag(export.filename.url(:thumb) + "?v=#{export.updated_at.to_i}", muted: :muted, class: "w-full rounded-2xl border-2 border-neutral-700 shadow-xl shadow-white/10", ) if export.filetype == "video" %>
      <div class="absolute top-0 left-0 font-bold text-xs text-black bg-white p-2 rounded-br-lg rounded-tl-2xl">
        <%= SqidsService.new([ export.session.id ]).call %>
      </div>
    <% end %>
  </button>

<% elsif export.session.event.booth_type == "photobooth" %>
  <button class="relative" id=<%= dom_id(export) %> data-action="click->gallery#showQR" data-export-url="<%= SqidsService.new([ export.session.id ]).call %>" data-export-link="<%= export.filename.url %>">
    <% if export.filename.present? %>
      <%= image_tag(export.filename.url + "?v=#{export.updated_at.to_i}", class: "w-full rounded-2xl border-2 border-neutral-700 shadow-xl shadow-white/10", ) %>
      <div class="absolute top-0 left-0 font-bold text-xs text-black bg-white p-2 rounded-br-lg rounded-tl-2xl">
        <%= SqidsService.new([ export.session.id ]).call %>
      </div>
    <% end %>
  </button>
<% end %>
